@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
  background-color: #e8e9e9;
  margin: 0;
  text-align: center;
}

img {
  width: 60vh;
  margin-top: 3%;
}

.navBar {
  text-align: center;
  padding-top: 30px;
  background-color: #3a3a3a;
  padding-bottom: 20px;
}

ul {
  display: inline-block;
  background-color: #3a3a3a;
}

a {
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: #3a3a3a;
}
.app-header {
  background-color: #3a3a3a;
}

.app-body {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem;
}

.app-footer {
  padding-top: 2rem;
  background-color: #3a3a3a;
  margin-top: 5rem;
}

li {
  list-style: none;
}

h1 {
  font-size: 3rem;
}
p {
  text-align: justify;
  left: 30%;
  margin-top: 2rem;
  font-size: 20px;
  text-align: center;
}

.app-footer p {
  background-color: #3a3a3a;
  padding: 0px;
  margin-top: 0;
}
